.review1 {
	background-color: #f8f8f8;
	padding: 70px 0;
}

.review1 .wrap {
	position: relative;
}

.review1__block {
	width: 82%;
	margin: 0 auto;
	display: flex;
	overflow: hidden;
}
	
.review1__element {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	text-align: left;
	flex-shrink: 0;
}

.review1__image {
	width: 145px;
	height: 145px;
	border: 3px solid #95e1d3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review1__info {
	flex-basis: calc(100% - 145px);
	padding-left: 60px;
	box-sizing: border-box;
}

.review1__text {
	font-weight: 300;
	font-size: 24px;
	font-style: italic;
	line-height: 36px;
	margin-bottom: 13px;
}

.review1__info .devider {
	display: inline-block;
	margin: 0 10px 6px 0;
}

.review1__author {
	display: inline-block;
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 24px;
	line-height: 24px;
}

.review1__arrow {
	width: 25px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	top: 50%;
}

.arrow1__arrow img {
	display: block;
	width: 100%;
}

.review1__arrow--prev {
	left: 0;
	transform: translate(120%,-50%) rotate(90deg);
}

.review1__arrow--next {
	right: 0;
	transform: translate(-120%,-50%) rotate(-90deg);
}

.review1__arrow:hover img {
	filter: sepia(0.3) hue-rotate(115deg) saturate(3);
}

@media (max-width: 1200px) {
	.review1__arrow {
		top: 30%;
	}
}

@media (max-width: 980px) {
	.review1 {
		padding: 40px 0 10px;
	}

	.review1__image {
		width: 100px;
		height: 100px;
	}

	.review1__info {
		flex-basis: calc(100% - 100px);
		padding-left: 20px;
	}

	.review1__text {
		font-size: 18px;
		line-height: 24px;
	}

	.review1__arrow {
		top: 40%;
	}
}

@media (max-width: 768px) {
	.review1 {
		padding-top: 20px;
	}

	.review1__text {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 5px;
	}

	.review1__info .devider {
		margin: 3px;
	}

	.review1__author {
		font-size: 20px;
		line-height: 20px;
	}
}

@media (max-width: 480px) {
	.review1__image {
		width: 50px;
		height: 50px;
	}

	.review1__image img {
		display: block;
		width: 75%;
		height: 75%;
	}

	.review1__element {
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.review1__info {
		flex-basis: 90%;
		padding: 0;
	}

	.review1__text {
		font-size: 12px;
		line-height: 16px;
	}

	.review1__author {
		font-size: 16px;
		line-height: 16px;
	}
}